body {
  background-color: #393E46;
}

h1 {
  padding: 0;
  margin: 0;
}

img {
  width: 30%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.container {
  width: 100%;
  text-align: center;
}

.player-name {
  display: inline-block;
}

.player1-btn {
  padding: 10px;
  font-size: 2rem;
  text-shadow: 2px 0 #232931;
  background-color: #9C060C;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  border: 2px solid white;
  border-radius: 10px;
}

.dice {
  text-align: center;
  display: inline-block;
}

.heading-btn {
  padding: 10px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  background-color: #9C060C;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  border: 2px solid white;
  border-radius: 25px;
}

#points-1 {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
